{% extends 'base.html' %}

{% block content %}
  <div class="about-page">
    <h1>About Heritage Hunter</h1>
  
    <h2>What is Heritage Hunter?</h2>
    <p>Heritage Hunter serves as a guide to some of the most architecturally renowned pubs in the United Kingdom. Whether you're a seasoned pub-goer or someone interested in the architectural details that give each pub its unique identity, Heritage Hunter is designed to help you discover and appreciate these gems.</p>
  
    <h2>Why Was Heritage Hunter Created?</h2>
    <p>It was born out of a passion for pubs, history, architecture and also as a good project to help me improve my computing coding skills. </p>
  </div>
{% endblock %}
